{% extends 'landing_page/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-md-10">
                <!-- Dashboad details go here -->
                <h4>Overview</h4>
                <hr>
                <!-- Dashboard cards -->
                <div class="d-flex justify-content-between">
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body">
                                <span class="mdi mdi-shopping fs-3 float-end"></span>
                                <h6 class="text-uppercase mt-0">Total Inventory</h6>
                                <h2 class="my-2" id="active-users-count">{{inventory|length}}</h2>
                                <p class="mb-0 text-muted">
                                    <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 5.27%</span>
                                    <span class="text-nowrap">Since last month</span>  
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
    
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body">
                                <span class="mdi mdi-package-variant-closed fs-3 float-end"></span>
                                <h6 class="text-uppercase mt-0">Pending Orders</h6>
                                <h2 class="my-2" id="active-users-count">3</h2>
                                <p class="mb-0 text-muted">
                                    <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 10.7%</span>
                                    <span class="text-nowrap">Since last month</span>  
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
    
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body">
                                <span class="mdi mdi-send fs-3 float-end"></span>
                                <h6 class="text-uppercase mt-0">Recent Shipments</h6>
                                <h2 class="my-2" id="active-users-count">1</h2>
                                <p class="mb-0 text-muted">
                                    <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 6%</span>
                                    <span class="text-nowrap">Since last month</span>  
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
                </div>
                <div>
                    <h6>Alerts</h6>
                    <hr>
                    <p>Alerts go here...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}