{% extends 'landing_page/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-md-10">
                <!-- Dashboad details go here -->
                <h4>Overview</h4>
                <hr>
                <!-- Dashboard cards -->
                <div class="d-flex justify-content-between">
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body ">
                                <h6 class="text-uppercase mt-0 align-items-center d-flex justify-content-between">Total Inventory <span class="material-symbols-outlined">
                                    inventory_2
                                    </span></h6>
                                <h2 class="my-2" id="active-users-count">{{inventory|length}}</h2>
                                <p class="mb-0 text-muted">
                                    <!-- <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 5.27%</span>
                                    <span class="text-nowrap">Since last month</span>   -->
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
    
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body">
                                <h6 class="text-uppercase mt-0 align-items-center d-flex justify-content-between">Pending Orders <span class="material-symbols-outlined">
                                    inactive_order
                                    </span></h6>
                                <h2 class="my-2" id="active-users-count">{{pending|length}}</h2>
                                <p class="mb-0 text-muted">
                                    <!-- <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 10.7%</span>
                                    <span class="text-nowrap">Since last month</span>   -->
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
    
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body">
                                <h6 class="text-uppercase mt-0 align-items-center d-flex justify-content-between">Recent Shipments <span class="material-symbols-outlined">
                                    package
                                    </span></h6>
                                <h2 class="my-2" id="active-users-count">{{transit|length}}</h2>
                                <p class="mb-0 text-muted">
                                    <!-- <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 6%</span>
                                    <span class="text-nowrap">Since last month</span>   -->
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body ">
                                <h6 class="text-uppercase mt-0 align-items-center d-flex justify-content-between">Total Customers <span class="material-symbols-outlined">
                                    group
                                    </span></h6>
                                <h2 class="my-2" id="active-users-count">{{inventory|length}}</h2>
                                <p class="mb-0 text-muted">
                                    <!-- <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 5.27%</span>
                                    <span class="text-nowrap">Since last month</span>   -->
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
    
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body">
                                <h6 class="text-uppercase mt-0 align-items-center d-flex justify-content-between">Total Suppliers <span class="material-symbols-outlined">
                                    person
                                    </span></h6>
                                <h2 class="my-2" id="active-users-count">{{pending|length}}</h2>
                                <p class="mb-0 text-muted">
                                    <!-- <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 10.7%</span>
                                    <span class="text-nowrap">Since last month</span>   -->
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
    
                    <div class="col-md-4 m-3">
                        <div class="card tilebox-one card-content-div">
                            <div class="card-body">
                                <h6 class="text-uppercase mt-0 align-items-center d-flex justify-content-between">Total Orders <span class="material-symbols-outlined">
                                    orders
                                    </span></h6>
                                <h2 class="my-2" id="active-users-count">{{transit|length}}</h2>
                                <p class="mb-0 text-muted">
                                    <!-- <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 6%</span>
                                    <span class="text-nowrap">Since last month</span>   -->
                                </p>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
                </div>
                
                <div>
                    <h6>Alerts</h6>
                    <hr>
                    <p>Alerts go here...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}