{% extends 'landing_page/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-md-10">
                <!-- Dashboad details go here -->
                <h2>Overview</h2>
                <hr>
                <!-- Dashboard cards -->
                <div class="d-flex justify-content-between">
                    <div class="col-md-4 m-4">
                        <div class="card card-bg">
                            <h5 class="card-header card-hd mb-4">Total Inventory</h5>
                            <div class="card-body card-bd">
                              <h1 class="card-title my-3">120 units</h1>
                              <p class="card-text">Description here</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4 m-4">
                        <div class="card card-bg">
                            <h5 class="card-header card-hd mb-4">Pending Orders</h5>
                            <div class="card-body card-bd">
                              <h1 class="card-title my-3">5</h1>
                              <p class="card-text">Description here</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4 m-4">
                        <div class="card card-bg">
                            <h5 class="card-header card-hd mb-4">Recent Shipments</h5>
                            <div class="card-body card-bd">
                              <h1 class="card-title my-3">10</h1>
                              <p class="card-text">Description here</p>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}