<style>
    /* Define the sidebar styles */
    .sidebar {
        height: 100%;
        width: 250px; /* Adjust the width as needed */
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0a1e39; /* Sidebar background color */
        color: #fff; /* Text color in the sidebar */
        padding: 20px;
    }

    /* Style for the sidebar links */
    .sidebar a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 10px 5px;
    }

    /* Style for the sidebar links on hover */
    .sidebar a:hover {
        background-color: #555;
    }

    /* Content area styles */
    .content {
        margin-left: 260px; /* Adjust the margin to match the sidebar width */
        padding: 20px;
    }
</style>

<div class="sidebar">
    <img src="../../static/images/logo-2.png" class="img-fluid mb-5" alt="">
    <a href="#">Dashboard</a>
    <a href="#">Products</a>
    <a href="#">Suppliers</a>
    <a href="#">Customers</a>
    <a href="#">New Transactions</a>
    <a href="#">View</a>
    <a href="#">Reports</a>
</div>