{% extends 'landing_page/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-md-10 table-content-div mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Manage Orders</h4>

                    <!-- Add Product Modal -->
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn-landing mt-1 align-items-center d-flex" data-bs-toggle="modal" data-bs-target="#myModal">
                            <span class="material-symbols-outlined">
                                add
                                </span> ADD ORDER
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <legend class="modal-title fs-5" id="myModalLabel">Add Order</legend>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Add product form -->
                                        <form action="" method="POST" enctype="multipart/form-data" class="p-5">
                                            <fieldset class="form-group">
                                                {% csrf_token %}
                                                {{ order_form | crispy }}
                                                <div class="modal-footer">
                                                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                                    <button type="submit" class="btn-landing w-100">Save</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <hr>

                <div class="tabs">
                    <button class="tablink" onclick="openTab('Tab1', this)">Inbound Orders</button>
                    <button class="tablink" onclick="openTab('Tab2', this)">Outbound Orders</button>
                </div>
                
                <div id="Tab1" class="tabcontent">
                    <h3>Inbound Orders</h3>
                    <hr>
                     <!-- Inbound Table -->

                    <table class="table table-striped-columns  table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Order Type</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Total Items</th>
                            <th scope="col">Status</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        {% if inbound_orders %}
                            {% for order in customers_page_in %}
                            <tbody>
                                <tr>
                                <th scope="row">{{ order.order_id }}</th>
                                <td>{{ order.order_created_at|date }}</td>
                                <td>{{ order.order_type }}</td>
                                <td>{{ order.associated_name }}</td>
                                <td>{{ order.total_items }}</td>
                                <td class="orderStatus">{{ order.status }}</td>
                                <td>{{ order.notes }}</td>
                                <td class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'orders-update' order.id %}"><span class="material-symbols-outlined actions" title="Edit"> edit_document </span></a>
                                    <a href="{% url 'order-delete' order.id %}"><span class="material-symbols-outlined text-danger actions" title="Delete"> delete </span></a>
                                </td>
                                </tr>
                            </tbody>
                            {% if order.status.Pending %}
                                <li>{{ order.status }}</li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            <h4 class="text-center bg-danger text-white p-2">No inbound orders added yet!</h4>
                        {% endif %}
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if customers_page_in.has_previous %}
                                <a href="?page=1">&laquo; First</a>
                                <a href="?page={{ customers_page_in.previous_page_number }}">Previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ customers_page_in.number }} of {{ customers_page_in.paginator.num_pages }}.
                            </span>
                    
                            {% if customers_page_in.has_next %}
                                <a href="?page={{ customers_page_in.next_page_number }}">Next</a>
                                <a href="?page={{ customers_page_in.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                
                <div id="Tab2" class="tabcontent">
                    <h3>Outbound Orders</h3>
                    <hr>

                    <!-- Outbound Table -->
                    <table class="table table-striped-columns table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Order Type</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Total Items</th>
                            <th scope="col">Status</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        {% if outbound_orders %}
                            {% for order in customers_page_out %}
                            <tbody>
                                <tr>
                                  <th scope="row">{{ order.order_id }}</th>
                                  <td>{{ order.order_created_at|date }}</td>
                                  <td>{{ order.order_type }}</td>
                                  <td>{{ order.associated_name }}</td>
                                  <td>{{ order.total_items }}</td>
                                  <td class="orderStatus">{{ order.status }}</td>
                                  <td>{{ order.notes }}</td>
                                  <td class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'orders-update' order.id %}"><span class="material-symbols-outlined actions" title="Edit"> edit_document </span></a>
                                    <a href="{% url 'order-delete' order.id %}"><span class="material-symbols-outlined text-danger actions" title="Delete"> delete </span></a>
                                </td>
                                </tr>
                              </tbody>
                            {% endfor %}
                        {% else %}
                              <h4 class="text-center bg-danger text-white p-2">No outbound orders added yet!</h4>
                        {% endif %}
                    </table>
                      <div class="pagination">
                        <span class="step-links">
                            {% if customers_page_out.has_previous %}
                                <a href="?page=1">&laquo; First</a>
                                <a href="?page={{ customers_page_out.previous_page_number }}">Previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ customers_page_out.number }} of {{ customers_page_out.paginator.num_pages }}.
                            </span>
                    
                            {% if customers_page_out.has_next %}
                                <a href="?page={{ customers_page_out.next_page_number }}">Next</a>
                                <a href="?page={{ customers_page_out.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}