{% extends 'landing_page/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-md-10 table-content-div mt-3">
                <div class="">
                    <h4>Edit Item</h4>
                    <hr>
                        <div class="">
                            <!-- Add product form -->
                            <form action="" method="POST" enctype="multipart/form-data" class="p-5">
                                <fieldset class="form-group">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <div class="modal-footer">
                                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                        <button type="submit" class="btn-landing w-100">Update</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}