{% extends 'landing_page/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-md-9 my-3">
                <h4>Product Name: {{product.item_name}}</h4> 
                <hr>
                <div class="container rounded  border table-content-div">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <!-- Update order form -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <table id="productTbl" class="table table-bordered border-primary table-secondary my-4">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Details</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">Order Date</th>
                                                <td>{{ product_detail.order_created_at|date }}</td>
                                              </tr>
                                              <tr>
                                                <th scope="row">Order Type</th>
                                                <td>{{ product_detail.order_type }}</td>
                                              </tr>
                                              <tr>
                                                <th scope="row">Supplier/Customer</th>
                                                <td>{{ product_detail.associated_name }}</td>
                                              </tr>
                                              <tr>
                                                <th scope="row">Item</th>
                                                <td>{{ product_detail.item }}</td>
                                              </tr>
                                              <tr>
                                                <th scope="row">Quantity</th>
                                                <td>{{ product_detail.total_items }}</td>
                                              </tr>
                                              <tr>
                                                <th scope="row">Status</th>
                                                <td>{{ product_detail.status }}</td>
                                              </tr>
                                              <tr>
                                                <th scope="row">Notes</th>
                                                <td>{{ product_detail.notes }}</td>
                                              </tr>
                                             
                                            </tbody>
                                          </table>

                                            <button onclick="printDocument()" class="btn btn-primary mt-1 align-items-center d-flex">
                                            PRINT
                                            </button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}