{% extends 'landing_page/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-lg-10 table-content-div mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Suppliers Register</h4>

                    <!-- Add Product Modal -->
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn-landing mt-1 align-items-center d-flex" data-bs-toggle="modal" data-bs-target="#myModal">
                            <span class="material-symbols-outlined">
                                add
                                </span> ADD SUPPLIER
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <legend class="modal-title fs-5" id="myModalLabel">Add Supplier Details</legend>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Add product form -->
                                        <form action="" method="POST" enctype="multipart/form-data" class="p-5">
                                            <fieldset class="form-group">
                                                {% csrf_token %}
                                                {{ supplier_form | crispy }}
                                                <div class="modal-footer">
                                                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                                    <button type="submit" class="btn-landing w-100">Save</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <hr>

                <!-- Table -->

                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Mobile No.</th>
                        <th scope="col">Home Address</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>
                        
                      </tr>
                    </thead>
                    {% if suppliers %}
                        {% for supplier in suppliers_page %}
                        <tbody>
                            <tr>
                              <th scope="row">{{ supplier.pk }}</th>
                              <td>{{ supplier.sup_f_name }}</td>
                              <td>{{ supplier.sup_l_name }}</td>
                              <td>{{ supplier.email }}</td>
                              <td>{{ supplier.mobile_no }}</td>
                              <td>{{ supplier.address }}</td>
                              <td>{{ supplier.notes }}</td>
                              <td class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'suppliers-update' supplier.id %}"><span class="material-symbols-outlined fs-3 actions" title="Edit"> edit_document </span></a>
                                <a href="{% url 'supplier-delete' supplier.id %}"><span class="material-symbols-outlined text-danger actions" title="Delete"> delete </span></a>
                              </td>
                            </tr>
                          </tbody>
                        {% endfor %}
                    {% else %}
                          <h4 class="text-center bg-danger text-white p-2">No suppliers found in register!</h4>
                    {% endif %}
                  </table>
                  <div class="pagination">
                    <span class="step-links">
                        {% if suppliers_page.has_previous %}
                            <a href="?page=1">&laquo; First</a>
                            <a href="?page={{ suppliers_page.previous_page_number }}">Previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ suppliers_page.number }} of {{ suppliers_page.paginator.num_pages }}.
                        </span>
                
                        {% if suppliers_page.has_next %}
                            <a href="?page={{ suppliers_page.next_page_number }}">Next</a>
                            <a href="?page={{ suppliers_page.paginator.num_pages }}">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}