{% extends 'landing_page/base.html' %}

{% block content %}
    <div>
        <div class="container">
            <div class="row vh-100 d-flex justify-content-center align-items-center">
                <div class="col-6 border p-5 rounded">

                    <div class=" d-flex justify-content-center">
                        <img src="../../static/images/logo-2.png" class="img-fluid mx-auto col-4" alt="Logo">
                    </div>
                
                    <legend class="text-center my-5">YOU ARE LOGGED OUT</legend>
                    <h6 class="text-center">Thank you for using Quickpick Warehouse Management Stystem!</h6>
                    
                    <div class="my-4 form-group">
                        <a href="{% url 'login' %}" class="mb-3 w-100 btn-landing">LOGIN AGAIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}