{% extends 'landing_page/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-md-9">
                <!-- Dashboad details go here -->
                <h1>Profile</h1>
                
                <div class="container rounded  border">
                    <div class="row p-5">
                        <div class="col-md-6 border-end">
                            <h6>Profile Image</h6>
                            <img src="{{ user.profile.image.url }}" class="img-fluid mx-auto company-img img-thumbnail" alt="Logo">                            
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <span class="h3">Username: </span><span>{{ user.username }}</span>
                            </div>
                            <div>
                                <span class="h3">E-mail: </span><span>{{ user.email }}</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <form action="" method="POST" enctype="multipart/form-data" class="p-5">
                                <fieldset class="form-group">
                                    <legend>Update Profile</legend>
                                    {% csrf_token %}
                                    {{ u_form | crispy }}
                                    {{ p_form | crispy }}
                                    <div class="my-4 form-group">
                                        <button type="submit" class="mb-3 w-100 btn-landing-outline">UPDATE PROFILE</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}