{% extends 'landing_page/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-md-10">
                <!-- Dashboad details go here -->
                <h1>Profile</h1>
                
                <div class="container">
                    <div class="row rounded  border p-5">
                        <div class="col-md-6 border-end">
                            <h6>Profile Image</h6>
                            <img src="../../static/images/logo-2.png" class="img-fluid mx-auto company-img img-thumbnail" alt="Logo">
                            <div class="my-4 form-group">
                                <a href="{% url 'login' %}" class="mb-3 w-100 btn-landing-outline">Upload Image</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <span class="h3">Username: </span><span>{{ user.username }}</span>
                            </div>
                            <div>
                                <span class="h3">E-mail: </span><span>{{ user.email }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}