
.btn-landing {
    background-color: #10315B;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all .5s ease-in-out;
  }
  
  .btn-landing:hover {
    background-color: #0a1e39; /* You can change the hover color to your preference */
    box-shadow: 5px 10px 40px 6px rgb(0, 0, 0, 0.75);
  }
  
  .company-img{
    height: 100%;
    width: 100%;
  }
 
  .btn-landing-outline{
    color: #0a1e39;
    border: #0a1e39 1px solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all .5s ease-in-out;
  }

  .btn-landing-outline:hover {
    color: #ffffff;
    background-color: #0a1e39; /* You can change the hover color to your preference */
    box-shadow: 5px 10px 40px 6px rgb(0, 0, 0, 0.75);
  }

  .user-avator{
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  .card-bg{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8)), url("../images/pexels-winson-2701434.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card-bg .card-hd{
    color: #EEAD49;
  }

  .card-bg .card-bd{
    color: #ffffff;
  }
  

  /* styling for Orders tabs */

.tabs {
  display: flex;
}

.tablink {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}
.tablink:nth-child(2){
  border-left: #0a1e39 1px solid;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active {
    background-color: #10315B;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 15px;
    border-top: none;
}

.table-content-div{
  background-color: #f9fafd;
  box-shadow: 10px 10px 50px rgb(85, 85, 85, 0.5);
}

.card-content-div{
  background-color: #f9fafd;
  box-shadow: 1px 1px 20px 1px rgb(85, 85, 85, 0.5);
}

/* Base pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.pagination .step-links {
  display: flex;
  align-items: center;
  gap: 10px; /* spacing between elements */
}

/* Style for pagination links */
.pagination .step-links a {
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #10315B;
  color: #10315B;
  border-radius: 1px;
  transition: background-color 0.4s, color 0.4s;
}

.pagination .step-links a:hover {
  background-color: #10315B;
  color: #fff;
}

/* Style for the current page indicator */
.pagination .step-links .current {
  padding: 5px 10px;
  font-weight: bold;
  color: #007BFF;
}

/* Optional: Style for disabling previous/next links on first/last page */
.pagination .step-links a.disabled {
  color: #aaa;
  cursor: not-allowed;
  border-color: #eee;
  background-color: #f9f9f9;
}

.pagination .step-links a.disabled:hover {
  background-color: #f9f9f9;
  color: #aaa;
}

.actions{
  cursor: pointer;
}
