.btn-landing {
    background-color: #10315B;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all .5s ease-in-out;
  }
  
  .btn-landing:hover {
    background-color: #0a1e39; /* You can change the hover color to your preference */
    box-shadow: 5px 10px 40px 6px rgb(0, 0, 0, 0.75);
  }
  
  .company-img{
    height: 100%;
    width: 100%;
  }
 
  .btn-landing-outline{
    color: #0a1e39;
    border: #0a1e39 1px solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all .5s ease-in-out;
  }

  .btn-landing-outline:hover {
    color: #ffffff;
    background-color: #0a1e39; /* You can change the hover color to your preference */
    box-shadow: 5px 10px 40px 6px rgb(0, 0, 0, 0.75);
  }