{% extends 'landing_page/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                {% block navbar %}
                    {% include 'landing_page/navbar.html' %}
                {% endblock %}
            </div>
            <div class="col-lg-10 my-3">
                <h4 class="mb-3">Import Excel File</h4>
                <hr>
                <div class="container rounded  border table-content-div">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <!-- Add excel sheet form -->
                            <div class="container my-3">
                                <div class="row">
                                  <div class="col-lg-10 mx-auto">
                                    
                                    <form action="" method="POST" enctype="multipart/form-data" class="p-5">
                                        <div>
                                            <p> Download template <a href="{% static 'documents/Inventory_template.xlsx' %}"><span class="material-symbols-outlined">
                                                download
                                                </span></a></p>
                                        </div>

                                        <fieldset class="form-group">
                                            {% csrf_token %}
                                            <input class="my-3" type="file" name="excel_file" accept=".xlsx">
                                            <div>
                                                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                                <button type="submit" class="btn-landing w-100">IMPORT</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}